/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MAIN */

.container {
    min-height: 600px;
    background-color: #ffc0cb;
}

[class*="col-"] {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    border: 1px solid black;
}